name: Tests

on: [push, pull_request]

jobs:
  test-latest:
    name: Test on Latest Stable
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Check
        run: make check
      - name: Test
        run: make test

  test-nightly:
    name: Test on nightly
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          override: true
      - name: Check
        run: make check
      - name: Test
        run: make test

  ## Bugs in older Rust versions for some of our borrowing logic for filters
  ## No longer makes supporting this Rust version possible
  # build-old-stable:
  #   name: Build on 1.45.0
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         toolchain: 1.45.0
  #         profile: minimal
  #         override: true
  #     - name: Build
  #       run: cargo build --features=unstable_machinery,builtins,source,json,urlencode,debug,internal_debug
  #       working-directory: ./minijinja
  #       env:
  #         CARGO_NET_GIT_FETCH_WITH_CLI: "true"
  #         CARGO_HTTP_MULTIPLEXING: "false"

  test-32bit:
    name: Check on 1.61.0 (32bit)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.61.0
          target: armv5te-unknown-linux-gnueabi
          profile: minimal
          override: true
      - name: Check
        run: cargo check --all-features -p minijinja --target armv5te-unknown-linux-gnueabi

  test-stable:
    name: Test on 1.61.0
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.61.0
          profile: minimal
          override: true
      - name: Test
        run: make test

  test-wasi:
    name: Test on WASI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
          target: wasm32-wasi
      - name: Install WasmTime
        run: |
          curl https://wasmtime.dev/install.sh -sSf | bash
          curl -LO https://github.com/bytecodealliance/wasmtime/releases/download/v4.0.0/wasmtime-v4.0.0-x86_64-linux.tar.xz
          tar xvf wasmtime-v4.0.0-x86_64-linux.tar.xz
          echo `pwd`/wasmtime-v4.0.0-x86_64-linux >> $GITHUB_PATH
      - name: Test
        run: make wasi-test

  test-python:
    name: Test on Python binding
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
      - name: Test
        run: make python-test
